.contact-form {
    padding: calc(var(--gs) * 3.25);
    margin-right: calc(var(--gs) * 2);
    width: 50%;
    background-color: #fff;
    border-radius: 30px !important;
    display: flex;
    flex-direction: column;

    @media (--desktop) {
        padding: calc(var(--gs) * 2.25);
    }

    @media (--tablet) {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: calc(var(--gs) * 3);
    }

    &__wrap {
        display: flex;
        padding-top: calc(var(--gs) * 12);
        padding-bottom: calc(var(--gs) * 12);

        @media (--desktop) {
            padding-top: calc(var(--gs) * 9);
            padding-bottom: calc(var(--gs) * 9);
        }

        @media (--tablet) {
            flex-wrap: wrap;
            padding-top: calc(var(--gs) * 6);
            padding-bottom: calc(var(--gs) * 4);
        }
    }

    &__contacts {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: calc(var(--gs) * 2);

        &-item {
            width: 50%;
            margin-bottom: calc(var(--gs) * 1);

            &:last-child {
                margin-bottom: 0;
            }

            @media (--mobile-lg) {
                width: 100%;
            }

            &--wide {
                width: 100%;
            }

            &--text {
                font-size: 20px;
                color: var(--cl-md-blue);

                @media (--tablet) {
                    font-size: 16px;
                }
            }

            &-title {
                font-weight: bold;
            }

            &-content {
                display: flex;
                font-size: 22px;
                color: var(--cl-blue);

                @media (--desktop) {
                    font-size: 20px;
                }

                @media (--tablet) {
                    font-size: 19px;
                }

                & .header__links-social-item {
                    width: 30px;
                    height: 30px;

                    @media (--tablet) {
                        display: flex;
                    }
                }
            }
        }
    }

    &__policy-text {
        font-size: 14px;
        color: #1b1b1b;
        padding: 0 20px 20px 20px;
        line-height: 1.2;
    }

    &__map {
        padding: calc(var(--gs) * 2);
        width: 50%;
        background-color: #fff;
        border-radius: 30px !important;
        display: block;
        min-height: 100%;

        @media (--tablet) {
            width: 100%;
            height: 400px;
        }
    }

    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(41, 177, 255, 0.3);

        @media (--desktop) {
            background-size: auto 110%;
        }
    }
}
