.contact-form {
    padding-top: calc(var(--gs) * 12);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-top: calc(var(--gs) * 9);
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-top: calc(var(--gs) * 6);
        padding-bottom: calc(var(--gs) * 4);
    }

    &__contacts {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: 50%;
            margin-bottom: calc(var(--gs) * 1);

            &:last-child {
                margin-bottom: 0;
            }

            @media (--mobile-lg) {
                width: 100%;
            }

            &--wide {
                width: 100%;
            }

            &--text {
                font-size: 20px;
                color: var(--cl-md-blue);

                @media (--tablet) {
                    font-size: 16px;
                }
            }

            &-title {
                font-weight: bold;
            }

            &-content {
                display: flex;
                font-size: 24px;
                color: var(--cl-blue);

                @media (--tablet) {
                    font-size: 19px;
                }
            }
        }
    }

    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(41, 177, 255, 0.3);

        @media (--desktop) {
            background-size: auto 110%;
        }
    }

    .iframe {
        width: 100%;
        height: 100%;
        min-height: 589px;
        border: none;
        overflow-y: visible !important;
    }

    #schoolRequestformDiv,
    #schoolRequestMapDiv {
        @media (--tablet) {
            width: 100% !important;
        }
    }

    #schoolRequestMapDiv {
        @media (--tablet) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    #schoolRequestformDiv {
        background-color: #fff;
        border-radius: 30px !important;

        @media (--tablet) {
            margin-top: 0;
        }

        &,
        & * {
            font-family: var(--font-circe) !important;
        }
    }

    #schoolRequestAgreementDiv {
        @media (--tablet) {
            font-size: 14px;
        }

        & div + div {
            margin-left: 10px;
        }
    }
}
