.schedule {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 4);

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 2);
    }

    & * {
        transition: all 0.3s ease;
    }

    &__select {
        max-width: 360px;

        &-wrap {
            margin: 0 auto calc(var(--gs) * 4) auto;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;

        &-item {
            width: 300px;
            height: 250px;
            z-index: 1;
            opacity: 0.8;
            background-size: cover;
            display: flex !important;
            align-items: flex-end;
            margin-bottom: 20px;
            background-position: 20%;
            border-radius: 20px !important;
            text-align: left;
            background-color: #fff;
            margin: var(--gs);
            box-shadow: 0px 0px 15px 5px rgb(123 162 184 / 30%);

            @media (--desktop) {
                width: 250px;
                height: 210px;
            }

            @media (--mobile-lg) {
                width: calc(50% - 15px);
                margin: calc(var(--gs) * 0.5);
            }

            &--sm {
                align-items: center;
                width: auto;
                height: auto;
                padding: calc(var(--gs) * 2);

                @media (--desktop) {
                    padding: calc(var(--gs) * 1.25);
                }
            }

            & + & {
                @media (--mobile-lg) {
                    margin-left: 10px;
                }
            }

            &,
            & * {
                transition: all 0.3s ease;
            }

            &:hover,
            &.js-active {
                cursor: pointer;
                opacity: 1;

                & .btn {
                    opacity: 1;
                }

                & .schedule__list-item-text {
                    height: 25%;

                    @media (--tablet) {
                        height: 30%;
                    }
                }

                & .schedule__list-item-icon {
                    fill: var(--cl-green) !important;
                }
            }

            &.js-active {
                scale: 1.02;
                border: 2px solid var(--cl-green);

                & a,
                & .schedule__list-item-title {
                    color: var(--cl-green) !important;
                }
            }

            &.not-active {
                scale: 1;
                opacity: 0.7;

                & a {
                    color: var(--cl-black);

                    &:hover {
                        color: var(--cl-blue);
                    }
                }
            }

            &-text {
                padding: 15px 10px;
                width: 100%;
                height: 20%;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 0 0 20px 20px;

                @media (--desktop) {
                    height: 25%;
                }

                &-title {
                    font-size: 18px;
                    font-family: var(--font-circe);
                    font-weight: 700;
                    margin-bottom: 15px;

                    @media (--desktop) {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }

                &-subtitle {
                    font-size: 16px;
                    font-weight: normal;

                    @media (--desktop) {
                        font-size: 14px;
                    }

                    @media (--tablet) {
                        display: none;
                    }
                }
            }

            &-icon {
                width: 40px;
                height: 40px;
                fill: var(--cl-blue);
                margin-right: calc(var(--gs) * 1);

                @media (--desktop) {
                    width: 30px;
                    height: 30px;
                    margin-right: calc(var(--gs) * 0.5);
                }
            }
        }
    }

    &__content {
        padding: calc(var(--gs) * 2) calc(var(--gs) * 2) calc(var(--gs) * 3);
        border-radius: 40px;
        margin: 0 auto;

        @media (--tablet) {
            padding: calc(var(--gs) * 2) calc(var(--gs) * 1);
            border-radius: 30px;
        }
    }

    &__table {
        max-width: 900px;
        margin: 0 auto;

        &-title {
            margin-bottom: calc(var(--gs) * 2) !important;
            font-weight: bold !important;

            @media (--mobile-lg) {
                margin-bottom: calc(var(--gs) * 1.5) !important;
            }
        }

        &-subtitle,
        &-note {
            margin-bottom: calc(var(--gs) * 3);

            @media (--mobile-lg) {
                margin-bottom: calc(var(--gs) * 1.5);
            }
        }

        &-note {
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
        }

        &-info {
            display: block;
            padding: calc(var(--gs) * 2);
            border: 1px solid black;
            border-radius: 20px;
        }

        &-list {
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            margin-bottom: calc(var(--gs) * 3);

            @media (--tablet) {
                margin-bottom: calc(var(--gs) * 2);
            }
        }

        &-price {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-width: 400px;
            padding: calc(var(--gs) * 2);

            border-radius: 20px;
            border: 1px solid var(--cl-lt-blue);
            background-color: #fff;
            font-size: 19px !important;

            & + & {
                margin-left: calc(var(--gs) * 2);
            }

            &-wrap {
                display: flex;
                justify-content: center;
                align-items: stretch;
            }

            &-title {
                font-size: 21px;
                line-height: 1.4;
                margin-bottom: calc(var(--gs) * 2);

                @media (--tablet) {
                    font-size: 18px;
                    margin-bottom: 0;
                    line-height: 1.3;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;

                @media (--tablet) {
                    font-size: 16px;
                }

                &-item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: calc(var(--gs) * 1);
                    padding: calc(var(--gs) * 1);
                    border-bottom: 1px solid var(--cl-blue);

                    &-times {
                        font-weight: bold;
                        margin-right: calc(var(--gs) * 2);
                    }
                }
            }
        }
    }

    &__end-text {
        max-width: 600px;
        margin: 0 auto;
    }
}

.vue-treeselect__control {
    height: 45px;
    border: 2px solid var(--cl-lt-blue);
    border-radius: 15px;
}

.vue-treeselect__x-container,
.vue-treeselect__control-arrow {
    color: var(--cl-lt-blue);
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
    top: 4px;
}

.vue-treeselect__menu {
    border: 2px solid var(--cl-lt-blue);
}

.schedule-tab-wrapper {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 800px;
}

.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.schedule-tab-link {
    text-transform: uppercase;
    margin: 0 10px;
    list-style: none;
    padding: 10px 40px;
    color: #aaa;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.5s;
    letter-spacing: 1px;

    @media (--mobile-lg) {
        padding: 10px 20px;
        font-size: 14px;
    }
}

.schedule-tab-link:hover {
    color: var(--cl-blue);
}

.schedule-tab-link.active {
    background-color: var(--cl-green);
    color: white !important;
    border-bottom: none;
    border-radius: 40px 40px 0 0;

    @media (--tablet) {
        border-radius: 30px 30px 0 0;
    }
}

.schedule-tab-content {
    display: none;
    opacity: 0;
    animation: fadeIn 0.3s ease 1 forwards;
}

.schedule-tab-content.active {
    display: block;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}
/* ТАБЫ КОНЕЦ */
