.photos {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 6);
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__swiper {
        height: 680px;
        width: 960px;

        @media (--tablet) {
            width: 480px;
            height: 340px;
        }

        @media (--mobile-lg) {
            width: 240px;
            height: 270px;
        }
    }

    .swiper {
        overflow: visible;

        .swiper-slide {
            background-size: cover;
            background-position: center;
            opacity: 0.7;

            &-active {
                opacity: 1;
            }
        }

        &.gallery-top {
            height: 80%;
            width: 100%;
        }
        &.gallery-thumbs {
            height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
        }
        &.gallery-thumbs .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }
        &.gallery-thumbs .swiper-slide-active {
            opacity: 1;
        }
    }

}
