.new-team {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 6);
    }

    &__wrap {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    &__item {
        &-img {
            transition: all 0.3s ease;
        }

        &-social {
            display: none;
            max-height: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            border-radius: 10px;

            @media (--tablet) {
                margin-top: -5px;
                margin-left: 6px;
            }

            &:hover {
                & {
                    transform: scale(1.1)
                }
            }
        }
    }

    .swiper {
        overflow: visible;

        &-container {
            overflow: visible;
            max-width: 270px;
            user-select: none;
            height: 500px;
        }

        &-slide {
            background-size: cover;
            background-position: center;
            opacity: 0.7;

            &:active {
                cursor: grab;
            }

            & img {
                max-height: 355px;
            }

            &-active {
                opacity: 1;
                & img {
                    max-height: 400px;
                }

                & .new-team__item-social {
                    display: block;
                }
            }

            &-next {
                & img {
                    max-height: 375px;
                }
            }
        }
    }
}
