.media {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 6);
    }

    &__list {
        display: flex;

        @media (--desktop) {
            align-items: center;
            flex-direction: column;
        }

        &-item {
            display: flex !important;
            align-items: center;
            background-color: var(--cl-white);
            width: 100%;

            @media (--desktop) {
                max-width: 80%;
            }

            @media (--tablet) {
                flex-direction: column;
                padding-top: 30px;
                align-items: center;
            }

            @media (--mobile-lg) {
                max-width: 100%;
            }

            & + & {
                margin-left: 20px;
                @media (--desktop) {
                    margin-left: 0;
                    margin-top: 20px;
                }
            }

            & a button {
                padding-top: 3px;
                font-size: 16px;
                line-height: 1;
            }

            &-img {
                display: flex !important;
                justify-content: center;
                max-width: 284px;
                max-height: 284px;
                min-height: 284px;
                min-width: 284px;
                overflow: hidden;

                & img {
                    min-width: 284px !important;
                    min-height: 284px !important;
                }

                @media (--desktop) {
                    max-width: 240px;
                    max-height: 240px;
                    min-height: 240px;
                    min-width: 240px;

                    & img {
                        min-width: 240px !important;
                        min-height: 240px !important;
                    }
                }
            }

            &-text {
                font-weight: 300;
                margin-bottom: calc(var(--gs) * 2);
                font-size: 15px;
                width: 100%;

                &-wrap {
                    padding: calc(var(--gs) * 2);
                    @media (--tablet) {
                        width: 100%;
                    }
                }

                &-title {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: calc(var(--gs) * 1.5);
                }
            }
        }
    }
}
