/* Базовые стили */

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.bg-grey {
    background-color: var(--cl-grey);
}

html,
body {
    min-height: 100%;
    overflow-x: hidden !important;
}

body {
    color: var(--cl-black);
    background: var(--cl-white);
    font-size: 16px;
    line-height: 1.55;
    font-family: var(--font-circe);
}

a {
    display: inline-block;
    color: var(--cl-blue);
    text-decoration: none;
    fill: var(--cl-black);
    font-family: var(--font-circe);

    &:focus {
        border-color: transparent;
    }

    &:hover {
        color: var(--cl-dk-blue);
    }
}

:--heading {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: 19px;
    line-height: 1.55;
    font-weight: 700;
}

h2 {
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    @media (--tablet) {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

.blue {
    color: var(--cl-blue);
}

p {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 400;
    color: var(--cl-black);
}

ul,
ol {
    li {
        list-style: none;
    }
}

:--btn {
    border: none;
    background: none;
    cursor: pointer;
}

:--input {
    border-radius: 0;

    /* Прячет крестик очистки поля в IE */

    &::-ms-clear {
        display: none;
    }
}

input[type='number'] {
    /* Прячет стрелки управления поля number в Firefox */
    appearance: textfield;

    /* Прячет стрелки управления поля number в Chrome, Safari и Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }
}

/* Убирает дефолтный крестик очистки поля поиска. */
input[type='search']::-webkit-search-cancel-button {
    display: none;
}

textarea {
    resize: none;
}

a,
:--btn,
:--input {
    &:disabled,
    &.is-disabled {
        cursor: default;
        pointer-events: none;
    }
}

fieldset {
    border: none;
}

.pools-info {
    max-width: 900px !important;
    margin: 0 auto;
    padding-top: calc(var(--gs) * 8);
    padding-bottom: calc(var(--gs) * 8);
    font-family: var(--font-geometria) !important;

    @media (--tablet) {
        padding-top: calc(var(--gs) * 4);
        padding-bottom: calc(var(--gs) * 4);
    }

    &__sign {
        padding: 20px;
        border: 4px solid var(--cl-lt-blue);
        background-color: rgba(242, 242, 242, 0.8);
        max-width: 250px;
        border-radius: 30px;
        font-family: var(--font-geometria) !important;
        position: fixed;
        top: 100px;
        left: 75%;
        z-index: 100;

        &-text {
            font-size: 28px !important;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 1.3;

            @media (--desktop) {
                font-size: 24px !important;
                margin-bottom: 15px;
            }
        }
    }

    &__text {
        font-size: 20px !important;
        text-align: center;

        @media (--tablet) {
            font-size: 16px !important;
        }

        & a {
            font-size: 20px !important;
            font-family: var(--font-geometria) !important;
            font-weight: bold;

            @media (--tablet) {
                font-size: 16px !important;
            }
        }

        & + & {
            margin-top: 20px;

            @media (--tablet) {
                margin-top: 10px;
            }
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
