:root {
    /* Минимальный размер сетки.
    Все размеры делаем кратными ему (кроме случаев, где сетка неприменима). */
    --gs: 10px;

    /* Глобальные цвета проекта. */
    --cl-black: #2b2a29;
    --cl-blue: #29b1ff;
    --cl-dk-blue: #418dbc;
    --cl-md-blue: #24a5f0;
    --cl-lt-blue: #74cafc;
    --cl-white: #fff;
    --cl-red: #f00;
    --cl-grey: #f2f2f2;

    /* Шрифты проекта. */
    --font-circe: 'Circe', Arial, sans-serif;
    --font-geometria: 'Geometria', Arial, sans-serif;
}

@custom-media --mobile (width <= 359px);
@custom-media --mobile-min (width >= 360px);
@custom-media --mobile-lg (width <= 639px);
@custom-media --mobile-lg-min (width >= 640px);
@custom-media --tablet (width <= 959px);
@custom-media --tablet-min (width >= 960px);
@custom-media --desktop (width <= 1279px);
@custom-media --desktop-min (width >= 1280px);
@custom-media --desktop-lg (width <= 1599px);
@custom-media --desktop-lg-min (width >= 1600px);
@custom-media --desktop-xl (width <= 1899px);
@custom-media --desktop-xl-min (width >= 1900px);
