.pools {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 6);
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;

        @media (--tablet) {
            flex-wrap: wrap;
        }

        &-item {
            width: 33.3333333333333%;
            height: 600px;
            z-index: 1;
            background-size: cover;
            display: flex !important;
            align-items: flex-end;
            background-position: 50%;
            position: relative;

            @media (--tablet) {
                width: 50%;
                height: 400px;
            }

            @media (--mobile-lg) {
                width: 100%;
                height: 200px;
                margin-top: 10px;
            }

            &--empty {
                background-color: #fff;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                @media (--tablet) {
                    margin-top: 10px;
                }
            }

            &,
            & * {
                transition: all 0.2s ease;
            }

            &:hover,
            &:active {
                @media (--mobile-lg-min) {
                    width: 50%;
                }

                & .btn {
                    opacity: 1 !important;
                }

                & .pools__list-item-text {
                    height: 25%;

                    @media (--desktop) {
                        height: 30%;
                    }

                    @media (--mobile-lg) {
                        height: 60%;
                    }
                }

                & .pools__list-item-text-title {
                    @media (--tablet-min) {
                        font-size: 24px;
                    }
                }

                & .pools__list-item-text-subtitle {
                    @media (--tablet-min) {
                        font-size: 20px;
                    }
                }

                & .pools__list-item-new-badge {
                    animation-play-state: paused;
                    transform: scale(1.3) !important;
                }
            }

            &-icon {
                display: block;
                width: 200px;
                height: 400px;
                fill: var(--cl-blue);
            }

            &-new-badge {
                position: absolute;
                top: 15px;
                right: 5px;
                width: 60px;
                height: 60px;
                animation: scale 2s linear infinite;

                @media (--tablet) {
                    top: 10px;
                    width: 45px;
                    height: 45px;
                }

                @media (--mobile-lg) {
                    width: 40px;
                    height: 40px;
                }
            }

            &-home-badge {
                position: absolute;
                top: 15px;
                right: 5px;
                width: 50px;
                height: 50px;
                fill: white;

                @media (--tablet) {
                    top: 10px;
                }

                @media (--mobile-lg) {
                    width: 40px;
                    height: 40px;
                }
            }

            &-text {
                padding: 10px;
                width: 100%;
                height: 13%;
                background-color: #fff;
                margin-top: auto;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media (--desktop) {
                    height: 15%;
                }

                @media (--mobile-lg) {
                    height: 25%;
                }

                &-title {
                    font-size: 18px;
                    font-family: var(--font-circe);
                    font-weight: 700;
                    margin-bottom: 15px;

                    @media (--tablet) {
                        font-size: 16px;
                        margin-bottom: 10px;
                        line-height: 1.2;
                    }
                }

                &-subtitle {
                    font-size: 16px;
                    font-weight: normal;

                    @media (--tablet) {
                        font-size: 14px;
                    }
                }

                & .btn {
                    max-width: 70%;
                    opacity: 0;
                    pointer-events: none;

                    @media (--desktop) {
                        font-size: 16px;
                    }

                    @media (--tablet) {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
