.faq {
    padding-top: calc(var(--gs) * 3);
    padding-bottom: calc(var(--gs) * 12);

    @media (--desktop) {
        padding-bottom: calc(var(--gs) * 9);
    }

    @media (--tablet) {
        padding-bottom: calc(var(--gs) * 6);
    }

    & .faq-wrapper {
        margin: 0 auto;
    }

    & .accordion__title-text {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold !important;

        @media (--tablet) {
            font-size: 18px;
        }
    }

    & .accordion__value {
        font-size: 20px;

        @media (--tablet) {
            font-size: 16px;
        }
    }
}
