.btn {
    width: 210px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    color: var(--cl-white) !important;
    background-color: var(--cl-blue);

    font-family: var(--font-circe);
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    border-radius: 20px;

    transition: all 0.2s ease;

    &:hover {
        background-color: var(--cl-md-blue);
        border-color: var(--cl-md-blue);
    }

    &:active {
        background-color: var(--cl-dk-blue);
        border-color: var(--cl-dk-blue);
        transform: translateY(2px);
    }

    &--animated {
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: btn-anim;
    }

    &--black {
        color: var(--cl-black);
        background-color: #fff;
        border: 2px solid var(--cl-black);
    }

    &--wide {
        width: 100%;
    }

    &--sm {
        box-shadow: none;
        height: 35px;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
    }
}

@keyframes btn-anim {
    0% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
        animation-timing-function: ease-out;
    }

    50% {
        opacity: 0.75;
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(0.98, 0.98);
        animation-timing-function: linear;
    }
    100% {
        opacity: 1;
        transform: translateX(0px) translateY(0px) rotate(0deg) scale(1, 1);
    }
}
