.schedule-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: calc(var(--gs) * 4);
    font-size: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background-color: var(--cl-blue);

    @media (--tablet) {
        padding: calc(var(--gs) * 2);
        font-size: 20px;
    }

    &.border {
        border-radius: 20px 20px 0 0;
        background-color: white;
        border-bottom: 1px solid var(--cl-blue);

        & .schedule-link__img {
            fill: var(--cl-blue);
        }

        & .schedule-link__text {
            color: var(--cl-blue);
        }

        &:hover {
            background-color: var(--cl-blue);

            & .schedule-link__text {
                color: white;
            }

            & .schedule-link__img {
                fill: white;
            }
        }
    }

    &__img {
        fill: white;
        margin-right: calc(var(--gs) * 4);
        width: 60px;
        height: 60px;

        @media (--tablet) {
            margin-right: calc(var(--gs) * 2);
        }
    }

    &__text {
        padding: 0;
        margin: 0;
        color: white;
    }
}
